<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="registerStudent">
<title>Company</title>
<head>
    <meta charset="UTF-8">
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>
<h1 style="text-align: center">Comapny Register</h1>
<hr>
<div class="container col-xs-6" style="float:inherit;">
<form th:action="@{/register/company}" method="post" th:object="${companyDto}">
    <input type="hidden" name="userType" th:value="${T(smecherasii.domain.UserType).COMPANY}">
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}">
        </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Firstname</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" placeholder="Description" th:field="*{description}">
        </div>
    </div>
    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label">Location</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="location" placeholder="Location" th:field="*{location}">
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{name}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
    <p class="text-danger" th:text="${error}">Wrong user or password</p>
</form>
</div>
</body>
</html>
